/* .App{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    background-color: gray;
} */
.nav1{
    display:flex;
   justify-content: space-evenly;
   flex-direction: row;
  
   background-color: #63B3ED;
   height: 100px;
  }